
@{
    ViewBag.Title = "NoAutorizado";
    Layout = "~/Views/Login/_Login.cshtml";
}




<div class="d-flex justify-content-center">
    <div class="alert alert-danger" role="alert">
        Aún no tienes acceso al sistema debes de esperar que un administrador te de permisos de encargado.
    </div>
    <br/>
</div>
<input type="button" value="Regresar" class="btn btn-primary" onclick="goBack()" />



<script>
    function goBack() {
        window.history.back();
    }
</script>